body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #BBBBBB;
    padding: 20px 0;
}
.caja{
    width:940px;
    position: relative;
    margin: 0 auto;

}

.centrado{
    margin: auto 0 ;
    padding-left: 50px;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;    
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78109;
    text-decoration: underline;
    /* border: 1px solid black;
    padding:15px; */
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width:30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid ;
    /* border-radius: 25px 80px 0 5px; */
    border-radius: 25px;

}


.productos li:hover{
    border-color: #c78109;
}

.productos li:active{
    border-color: #1c7233;
    color: #1c7233;
}

.productos li h2{
    font-size: 25px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(/imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 50px;
}

form{
    margin: 40px 0;

}

form label, form legend{
    /* cursor: pointer; */

    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 5px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 10px;
}

.enviar{
    width: 40%;
    padding: 15px 0 ;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background:#b17102;
    transform: scale(1.10); 
    /* transform: scale(1.10) rotate(5deg);  */
    /* transform: rotate(800deg); */
}

table{
    margin: 40px 40px;
}

thead{
    background: black;
    color: white;
    font-weight: bold;
}

thead, td{
    border: 1px solid black;
    text-align: center;
    padding: 12px 15px;

}

/* CSS para la home-page */

.banner {
width: 100%;
}

.principal{
    padding: 3em 0;
    background:#FEFEFE;
    width: 940px;
    margin: 0 auto;

}

.tit-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
    color: rgba(0,0,0,0.3)
}

p::first-line{
    font-style: italic;
    /* text-shadow: 2px 2px 10px red; */

}

.tit-principal::first-letter{
    font-weight: bold;
}

.tit-principal::before{
    content: "[";
}
.tit-principal::after{
    content: "]";
}

.principal p{
    margin: 0 0 1em;

}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);   
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    /* box-shadow: inset 0 0 30px red; */

    padding: 3em 0;
    background: #888888;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5;
}

.items:before {
    content: "â­";
}

.items:first-child {
    font-weight: bold;
}

.imgDiferencial{
    /* float: right; */
    opacity: 0.6;
    width: 55%;
    box-shadow: 10px 10px 30px 10px #000000, -15px -5px 50px 15px rgb(92, 92, 21);
}

.imgDiferencial:hover{
    opacity: 1;
    transition: 1s opacity;
}

.video{
    width: 560px;
    margin: 1em auto;
}


@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    
    ul li {
        display: inline-block;
        margin: 0 auto;
    }


    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }

    .lista-diferenciales, .imgDiferencial{
        text-align: center;
        width: 100%;   
    }
}


/* 
Ejemplos de selectores
main > p {
    background: red;
}

img + p { 
    background: yellow;
} 

.principal P:not(#mision) {
    background: orange;
}
*/



/* 
COLORES IMPORTANCIA
form p {
    color: blue;
}

.test{
    color: yellow;
}

p.test{
    color: orange;
}

#test{
    color:#1c7233;
}
 */






